#container{
    margin:5px auto;
    background-color:lightgray;
}
.header{
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin:auto;
}
#section1{
    margin:15px auto;
    width:75%;
    background-color:white;
    border:1px solid black;
    border-radius: 15px;
    padding:15px;
}
#section2{
    margin:15px auto;
    width:75%;
    background-color:navy;
    color:white;
    border:1px solid black;
    border-radius: 15px;
    padding:15px;
}
#section3{
    margin:15px auto;
    width:75%;
    background-color:lightgreen;
    border:1px solid black;
    border-radius: 15px;
    padding:15px;
}
#section4{
    margin:15px auto;
    width:75%;
    background-color:lightsalmon;
    border:1px solid black;
    border-radius: 15px;
    padding:15px;
}